@use "../01-abstracts" as ab;
$url-mobile: '../assets/images/bg-intro-mobile.svg'; 
$url-desktop: '../assets/images/bg-intro-desktop.svg'; 

.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-s);
  text-align: center;
  align-items: center;
  position: relative;
  @include ab.breakpoint(md) {
    margin-block: calc(-4rem - var(--space-3xl));
    grid-template-columns: 50% 50%;
    text-align: left;
    /* min-height: 70vh; */
  }
  @include ab.breakpoint(lg) {
    margin-block: calc(-8rem - var(--space-3xl));
    /* min-height: 90vh; */
  }
  @include ab.breakpoint(xl) {
    margin-block: calc(-9.5rem - var(--space-3xl));
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url($url-mobile);
    background-repeat: no-repeat;
    background-position: center center;
    width: 130%;
    height: 100%;
    right: -2rem;
    bottom: 11rem;
    background-size: cover;

    @include ab.breakpoint(md) {
      background-image: url($url-desktop);
      background-position: center center;
      background-repeat: no-repeat;
      width: 105%;
      height: 100%;
      right: -27rem;
      bottom: 7rem;
    }
    @include ab.breakpoint(lg) {
      background-position: center center;
      background-repeat: no-repeat;
      height: 100%;
      right: -34rem;
      bottom: 4rem;
    }

  }

  & h1 {
    margin: auto;

    @include ab.breakpoint(md) {
      margin: 0;
    }
  }
  &__text {
    order: 1;
    --flow-space: var(--space-l);
    @include ab.breakpoint(md) {
      order: 0;
    }

    p {
      @include ab.breakpoint(md) {
        max-width: 42ch;
      }
    }
  }

  &__img {
    z-index: 1;
    margin-top: -82px;

    & img{
      height: auto;
    }

    @include ab.breakpoint(md) {
      margin-top: 74px;

      width: 142%;
    }
    @include ab.breakpoint(lg) {
      transform: translateX(3rem);
    }
  }
}
