/* @link https://utopia.fyi/type/calculator?c=375,16,1.2,1440,18,1.333,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12 */


$size--1: clamp(0.83rem, 0.83rem + 0.02vw, 0.84rem);
$base: clamp(1.00rem, 0.96rem + 0.19vw, 1.13rem);
$size-1: clamp(1.20rem, 1.09rem + 0.45vw, 1.50rem);
$size-2: clamp(1.44rem, 1.24rem + 0.84vw, 2.00rem);
$size-3: clamp(1.73rem, 1.40rem + 1.41vw, 2.66rem);
$size-4: clamp(2.07rem, 1.55rem + 2.22vw, 3.55rem);
$size-5: clamp(2.49rem, 1.70rem + 3.38vw, 4.74rem);


$text-sizes:(
'size--1': $size--1,
'base': $base,
'size-1': $size-1,
'size-2': $size-2,
'size-3': $size-3,
'size-4': $size-4,
'size-5': $size-5,
);


